body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("welcome.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-box {
    width: 450px;
    height: 250px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    color: blue;
}

button {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: darkcyan;
}
