<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Cases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">
</head>
<body>
    <section class="container-grid">
        <div class="container" onclick="window.location.href='/update_profile'">
            <h2>Update Profile</h2>
        </div>
        <div class="container" onclick="window.location.href='adjust_security.html'">
            <h2>Adjust Security Settings</h2>
        </div>
        <div class="container" onclick="window.location.href='{{ url_for('police_notification_settings') }}'">
            <h2>Notification Preferences</h2>
        </div>
        <div class="container" onclick="window.location.href='{{ url_for('police_query') }}'">
            <h2>Query Reporting</h2>
        </div>
    </section>

</body>
</html>
